*.exe
*.dll
*.so
*.dylib
.vscode/
.idea/
vendor/
/tmp/
*.log
*.tmp
*.out
.DS_Store
Thumbs.db
*.test
*.prof
main
migrate
#*.mod
#*.sum
#docker/db/*
.env
#.env.local
#.env.test
#.env.production
#config.yaml
#config.toml
#config.json
