{{define "pageVerifyAccountRegister"}}
<div class="page-header breadcrumb-wrap">
    <div class="container">
        <div class="breadcrumb">
            <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
            <span></span> Pages <span></span> My Account
        </div>
    </div>
</div>
<div class="page-content pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-12 m-auto">
                <div class="login_wrap widget-taber-content background-white">
                    <div class="padding_eight_all bg-white">
                        <div class="heading_s1">
                            <img class="border-radius-15" src="assets/imgs/page/forgot_password.svg" alt="" />
                            <h2 class="mb-15 mt-15">{{ .title }}</h2>
                            <p class="mb-30">{{ .title }}</p>
                        </div>
                        <form method="post">
                            <div class="form-group">
                                <a type="submit" class="btn btn-heading btn-block hover-up" href="/login">Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}
